{% extends 'base.html' %}

{% block title %}
  API Sandbox: OpenWeatherMap API
{% endblock %}

{% block content %}
  <div>
    <h1>OpenWeatherMap API Results</h1>

    <p>Location: {{ weather_info.name }} {{ weather_info.sys.country }}</p>

    {% if weather_info.weather %}
      {% for weather in weather_info.weather %}
        {{ weather.main }} {{ weather.description }}
      {% endfor %}
    {% endif %}

    <p>Sunrise: {{ weather_info.sys.sunrise }}</p>

    <p>Sunset: {{ weather_info.sys.sunset }}</p>

    <p><a href="/">Back to Index</a></p>
  </div>
{% endblock %}
